.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr;
  justify-content: center;

  /* {} */
  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2em;
    padding-left: 15em;
    padding-right: 15em;
  }
}

nav {
  grid-column: 3/span 12;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

article {
  background-color: #495E57;
  padding-left: 15em;
  padding-right: 15em;
  color: white;
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 17em;

  section h1:first-child {
    font-size: 2.7em;
    color: #F4CE14;
    margin: 0px;
    margin-top: 10px;
  }

  section h2 {
    margin-top: 0px;
  }

  section .reserve-table {
    background-color: #F4CE14;
    padding: 1em 1.5em;
    border: 0px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
  }
}

main {
  padding-left: 15em;
  padding-right: 15em;
  padding-bottom: 3em;
}

.sectionHeading {
  display: grid;
  grid-template-columns: 1fr 150px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;

  h2 {
    margin: 0px;
    font-size: 2em;
  }

  .online-menu {
    background-color: #F4CE14;
    padding: 1em 1.5em;
    border: 0px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
  }
}

.sectionContent {
  display: flex;
  gap: 2em;

  div {
    background-color: #EDEFEE;
  }
}

.details {
  padding: 1em;

  div {
    padding-bottom: 2em;
    padding-top: 3em;
  }
}

figcaption {
  display: flex;
  justify-content: space-between;

  span {
    color: #EE9972;
  }
}

.reserve-table-container{
  padding-left: 15em;
    padding-right: 15em;
}